nav {
    font-family: 'Roboto', sans-serif;
}

nav a {
	text-decoration: none;
	color: rgb(95, 99, 104);
	margin: 10px;
	font-size: 16px;
	font-weight: bold;
	margin-top: 0px;
	transition: color 0.5s;
}

nav a:hover {
	color: rgb(32, 33, 36);
}

.play_logo {
	width: 40px;
	height: 40px;
	margin: 18px;
	margin-right: 10px;
	margin-top: 12px;
}

nav h2 {
	display: inline-block;
	margin-top: 12px;
	color: rgb(95, 99, 104);
}

nav div, nav div a, .miscellaneous{
	display: flex;
	align-items: center;
}

.miscellaneous{
	margin-left: auto;
}

.miscellaneous button{
	border: none;
	background-color: white;
	margin: 10px;
}

.material-icons {
	font-family: 'Material Icons';
	color: rgb(98, 102, 107);
}
