.devices {
	display: flex;
	gap: 1rem;
}

.device {
	text-decoration: none;
	color: rgb(82, 81, 81);
	padding: 0.3rem 1rem;
	border: solid 0.02rem rgb(114, 114, 114);
	border-radius: 100vh;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.bigCards{
  padding: 0.2rem;
  margin-top: 30px;
  width: calc(100vw - 16px); /* default body margin : 8px. left and right total 16px */
  height: 340px;
  overflow: scroll;
  display: flex;
} 

.bigCards::-webkit-scrollbar{
  display: none;
}

.bigCard {
	width: 450px;
  aspect-ratio: 4/3 ;
  border-radius: 1rem;
  outline: solid 1px;
  position: relative;
}


