body {
	margin: 0px;
}

nav a {
  text-decoration: none;
  color: rgb(95, 99, 104);
  margin: 10px;
  font-size: 16px;
	font-weight: bold;
	margin-top: 0px;
}

nav a:hover {
  color: rgb(32, 33, 36);
}

.play_logo {
  width: 50px;
  height: 50px;
  margin: 10px;
}

nav h2 {
  display: inline-block;
  color: rgb(95, 99, 104);
}

nav div, nav div a, .miscellaneous{
  display: flex;
  align-items: center;
}

.miscellaneous{
	margin-left: auto;
}

.miscellaneous button{
	border: none;
	background-color: white;
	margin: 10px;
}

nav {
	font-family: 'Roboto', sans-serif;
}

.material-icons {
	font-family: 'Material Icons';
	color: rgb(98, 102, 107);
}