body {
	margin: 0px;
}

.devices {
	display: flex;
	gap: 1rem;
	margin-left: 72px;
}

.device {
	text-decoration: none;
	font-weight: bold;
	color: rgb(91, 95, 100);
	font-family: 'Roboto', sans-serif;
	padding: 0.3rem 1rem;
	border: solid 0.02rem rgb(218, 220, 224);
	border-radius: 100vh;
	display: flex;
	align-items: center;
	margin-block: 26px;
	margin-top: 26px;
	gap: 12px;
}

.device .material-icons {
	font-family: 'Material Icons';
	font-weight: bold;
	font-size: 0.9rem;
}

.bigCards{
	padding: 0.2rem;
	margin-top: 28px;
	margin-left: 72px;
	width: calc(100vw - 16px); /* default body margin : 8px. left and right total 16px */
	height: 340px;
	gap: 24px;
	overflow: scroll;
	display: flex;
} 

.bigCards::-webkit-scrollbar{
	display: none;
}

.bigCard{
	width: 450px;
	aspect-ratio: 4/3;
	border-radius: 1rem;
	outline: solid 1px;
	position: relative;
}

.bigCardImgHolder{
	position: absolute;
	background-color: red;
	inset: 2%;
	border-radius: calc(1rem - 2%);
}
