.bigCards{
	padding: 0.2rem;
	margin-top: 28px;
	margin-left: 72px;
	width: calc(100vw - 16px); /* default body margin : 8px. left and right total 16px */
	height: 340px;
	overflow: scroll;
	display: flex;
} 

.bigCards::-webkit-scrollbar{
	display: none;
}

.bigCard{
	width: 450px;
	aspect-ratio: 4/3;
	border-radius: 0.5rem;
	outline: solid 1px;
	/* position: relative; */
}

.game_card{
	position: relative;	
/*	
	subtitle_container can target it as a reference.
	So it can float using absolute position.
	Later it is given a size.
	So the div containing data can use 'bottom' to float.
	It also uses absolute position
*/
}

.img_container {
	/* position: relative; */
	/* inset: 0px; */
	width: 100%;
	height: calc(450px * (364/648));
}

.img_container img {
	width: 100%;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
}

.title_container {
	/* position: relative; */
	height: 87px;
	background-color: red;
	display: flex;
	/* align-content: center; */
	/* overflow: auto; */
}

.title_container h4, .title_container h6 {
	/* align-self: center; */
	margin: 0px;
	height: fit-content;
	display: block;
	color: white;
}

.title_container > img {
	margin: 20px;
	border-radius: 5px;
}

.title_container > div {
	display:flex;
	align-content: center;
	width: 100%;
}

.game_details, .features {
	margin-block: auto;
}

.features {
	margin-left: auto;
	margin-right: 10px;
	color: white;
	font-size: 12px;
}

h6 img {
	width: 10px;
	height: 10px;
}

.txt_separator {
	margin-inline: 5px;
}

.subtitle_container {
	position: absolute;
	width: 100%;
	height: calc(450px * (364/648));
}

.subtitle_container>div {
	width: 100%;
	position: absolute;
	bottom: 5px;
	
	/* 20px is the margin of the title_container's image */
	left: 20px;
}

.subtitle_container h3, .subtitle_container h4 {
	margin: 0px;
	
/*	gave it some padding so it wraps 
	even though it is slightly towards right*/
	padding-right: 20px;
	display: block;
	word-wrap: break-word;
	color: yellow;
}