.bigCards{
	padding: 0.2rem;
	margin-top: 28px;
	margin-left: 72px;
	width: calc(100vw - 16px); /* default body margin : 8px. left and right total 16px */
	height: 340px;
	overflow: scroll;
	display: flex;
} 

.bigCards::-webkit-scrollbar{
	display: none;
}

.bigCard{
	width: 450px;
	aspect-ratio: 4/3;
	border-radius: 0.5rem;
	outline: solid 1px;
	/* position: relative; */
}

.img_container {
	border-radius: 0.5rem;
	/* position: relative; */
	/* inset: 0px; */
	width: 100%;
	height: calc(450px * (364/648));
}

.img_container img {
	width: 100%;
}

.title_container {
	/* position: relative; */
	height: 87px;
	background-color: red;
	display: flex;
	/* align-content: center; */
	/* overflow: auto; */
}

.title_container h4, .title_container h6 {
	/* align-self: center; */
	margin: 0px;
	height: fit-content;
	display: block;
	color: white;
}

.title_container img {
	margin: 20px;
	border-radius: 5px;
}

.title_container > div {
	display:flex;
	align-content: center;

}

.game_details {
	margin-block: auto;
}