.categorised_card_container{
	width: 380px;
	aspect-ratio: 380/350;
	margin: 72px;
	position: relative;
	border-radius: 1rem;
	font-family: 'Roboto', sans-serif;
}

.categorised_card_container:hover{
	background-color: rgba(226, 226, 226, 0.322);
}

.categorised_card{
	border-radius: 0.5rem;
	position: absolute;
	inset: 15px;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}